/*** Forms ***/
.data-collector {
  border: 0.5px solid rgb(168, 168, 168);
}

/* .container-new-item {
  min-width: 100%;
  min-height: 100%;
  font-size: 0.9rem;
  padding: 3em;
  padding-bottom: 1em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-new-item h3 {
  margin: 0;
  font-size: 1.1rem;
  margin-bottom: 2em;
} */
