/*** Fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@300;400;700&display=swap");

/*** Global Styles ***/
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(245, 237, 237, 0.849),
      rgba(251, 253, 255, 0.589)
    ),
    url("../images/backgrounds/subtle_grunge.png");
  font-family: "Lora", serif;
  color: #353535;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/*** Titles ***/
h1,
h2,
h3 {
  font-family: "Lora", serif;
  text-align: center;
  margin: 0;
  margin-bottom: 0.3em;
  font-weight: 400;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  width: fit-content;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

label {
  font-weight: 400;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

button,
button:focus,
button:hover {
  outline: none;
}
/*** Inputs ***/
input {
  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="textarea"] {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 0.5em 1.3em;
  margin: 0.7em 0;
  border: 3px solid #cccccc;
  border-radius: 3px;
  transition: 0.4s ease-in-out;
  outline: none;
}

textarea {
  display: block;
  border: 3px solid #cccccc;
  padding: 1em;
  margin: 0.7em 0;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  transition: 0.4s ease-in-out;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 3px solid #da9432;
}

/* .project-content {
  padding: 2em 2em;
} */

/*** Buttons ***/
.btn {
  display: inline-block;
  font-size: 0.7em;
  font-weight: 700;
  font-family: "Lora", serif;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border: 0;
  outline: none;
  border-radius: 5px;
  text-decoration: underline transparent;
  text-align: center;
  cursor: pointer;
  padding: 0.7em 1.1em;
  margin: 0.5em 0;
  box-shadow: none !important; /* avoiding box-shadow on active state */
  transition: 0.25s;
}

.btn:hover {
  text-decoration: underline;
}

.btn-white {
  color: #353535;
  background-color: #f2f2f2;
}

.button-group-add {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-add {
  background-color: #da9432;
  color: white;
  width: 35%;
  border-radius: 20px;
}

.btn-cancel {
  background-color: white;
  border: 2px solid #da9432;
  width: 35%;
  margin-right: 0.5em;
  color: #da9432;
  border-radius: 20px;
}

.add-title {
  background-color: #da9432;
  color: white;
}
/*** Icons ***/
.icon {
  padding: 0 0.3em;
  color: #353535da
}

.btn-icon {
  margin: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.35em;
  font-size: 0.8rem;
  opacity: 1;
  line-height: 1.6;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease-in-out;
}

.btn-icon:active {
  opacity: 0.8;
  background-color: #cccccc;
}

.btn-add-item {
  background-color: #cccccc;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.6rem;
  color: white;
  transition: all 0.2 ease-in;
}

.btn-add-item:hover {
  background-color: #da9432;
  color: white;
}
/*** General classes ***/
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-new-item {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  padding: 3em;
  padding-bottom: 1em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-new-item h3 {
  margin: 0;
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.label-error {
  font-size: 0.8rem;
  color: rgb(243, 31, 31);
  font-weight: 400;
  width: fit-content;
  display: block;
  margin-bottom: 0.4em;
  margin-top: 1em;
}

.blue-num {
  font-size: 1.5rem;
  color: #4591af;
  margin-left: 0.5em;
}

/*** Material UI ***/

.MuiFormHelperText-root.Mui-error,
.MuiInputBase-input,
.MuiMenuItem-root {
  font-family: "Lora", serif !important;
}

.MuiSwitch-colorPrimary.Mui-checked {
  color: #da9432 !important;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #da9432 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: rgb(79, 122, 14) !important;
}

/*** Scroll Bar ***/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  /* -webkit-box-shadow: inset 0 0 6px rgba(141, 137, 137, 0.5); */
  background: #cccccc8e;
  /* background-color: rgb(218, 216, 216); */
}
/*** Transition stages ***/
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

@media (max-width: 650px) {
  .content-table tbody {
    overflow: auto;
    max-height: 300px;
  }
}
