/*** Containers ***/
.container-default {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container-benefits {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
}

.statistics {
  width: 100%;
  margin-top: 1em;
}

/*** Header ***/
.welcome-header {
  /* background-image: url("../images/backgrounds/headerImg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  margin-bottom: 2em;
}

.welcome-header h1 {
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  line-height: 1.6;
  text-align: left;
  padding-left: 1em;
}

.capital-letter {
  font-size: 2em;
}

/*** Benefit ***/
.benefit {
  background-color: #ebe8e8ef;
  border-radius: 10px;
  width: 100%;
  min-width: 100px;
  padding: 1em 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: text;
}

.benefit h3 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.2em;
}

.icon-img {
  max-width: 30px;
  margin: 0.3em;
}

/*** Typography ***/
.users-num {
  color: #353535;
  border-bottom: 0.5px solid grey;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 2em;
  padding: 1.5em;
}

.arrow-right {
  opacity: 0.8;
  margin-left: 0.3em;
}

.arrow-left {
  opacity: 0.8;
  margin-right: 0.3em;
}

.intro-title {
  margin-bottom: 1em;
}

.description {
  font-size: 0.8rem;
  line-height: 1.8;
}

/*** Charts ***/
.chart {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 55vh;
  max-width: 500px;
  margin-bottom: 5em;
}

.doughnut {
  height: 50vh;
}

/*** Media queries ***/
@media (max-width: 650px) {
  .benefit p {
    padding: 0 1em;
    margin-top: 1em;
    border-left: 0.5px solid grey;
    text-align: left;
  }
  .icon-main {
    width: 50%;
  }
  .users-num {
    padding-top: 0;
  }
}

@media (min-width: 650px) {
  .container-benefits {
    flex-direction: row;
  }
  .welcome-header {
    height: 30vh;
  }
  .intro-title {
    margin-bottom: 3em;
  }
  .benefit {
    width: 30%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .benefit h3 {
    margin-bottom: 1em;
    font-size: 0.9rem;
  }
  .icon-img {
    max-width: 40px;
  }
  .chart {
    height: 60vh;
  }
  .doughnut {
    height: 55vh;
  }

  .statistics {
    margin-top: 0;
  }
  .description {
    font-size: 0.7rem;
  }
}
