/*** Header ***/
header {
  background-color: rgba(173, 216, 230, 0.863);
  background-image: url("../images/backgrounds/footer_lodyas.png");
  color: #d6deeb;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0.7em 0.2em;
  z-index: 99;
}

.header-logo {
  width: 100%;
  max-width: 600px;
  height: 1.5rem;
  object-fit: cover;
}

/*** Containers ***/
.main-page {
  width: 90vw;
  max-width: 1100px;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.5px solid lightslategray;
  margin-bottom: 2em;
}

.container-left {
  width: 100%;
  min-width: 250px;
}

.container-right {
  width: 100%;
}

.container-default {
  width: 100%;
  font-size: 0.8rem;
  order: -1;
}

/*** Scroll button ***/
.scroll {
  position: sticky;
  right: 0.5em;
  bottom: 2em;
  width: fit-content;
  margin-left: auto;
  z-index: 99;
  opacity: 0.8;
  transition: 0.25s;
}

.btn-scroll {
  background-color: #dddcdc;
  color: #404040;
  text-decoration: none;
}

.btn-scroll span {
  margin-right: 0.5em;
}

.btn-scroll:hover {
  background-color: #595959;
  color: white;
  text-decoration: none;
  opacity: 1;
}

/*** Footer ***/
footer {
  background: url("../images/backgrounds/footer_lodyas.png");
  font-family: "Lora", serif;
  font-weight: 400;
  letter-spacing: 1px;
  position: fixed;
  width: 100%;
  padding: 0.2em;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-span {
  font-size: 0.9em;
  color: #efefef;
  margin-right: 0.2em;
}

.footer-link {
  font-size: 0.9em;
  text-decoration: none;
  color: #efefef;
  margin-left: 1em;
}

.heart-icon {
  margin: 0 0.5em;
  color: #da9432;
}

.footer-link:focus,
.footer-link:hover {
  cursor: pointer;
  color: #da9432;
}

/*** Media queries ***/
@media (min-width: 650px) {
  .main-page {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .container-left {
    max-width: 300px;
    margin-right: 3em;
  }
  .container-right,
  .container-default {
    min-width: 300px;
  }

  .container-default {
    order: 1;
    font-size: 1rem;
  }
  .scroll {
    right: 2em;
  }
}
