/*** Header ***/
.data-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.title-header {
  text-transform: capitalize;
}

/*** Sections ***/
.items {
  margin-top: 2em;
}

.hidden-list {
  display: none;
}
