/*** Header ***/
.users-header {
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.users-title {
  line-height: 1.1;
}

/*** container ***/
.users-section {
  display: flex;
  flex-direction: column;
}

/*** Add button ***/
.btn-user {
  background-color: transparent;
  color: #595959;
  font-size: 1rem;
  border: 0;
  opacity: 0.9;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin-top: 0.2em;
}
