/*** Container ***/
.user-data {
  margin-top: 1em;
}

/*** Typography ***/
.underline {
  border-top: 0.5px solid lightslategray;
  width: 100%;
  margin: 2em 0;
}

.user-title {
  padding: 0.2em;
  line-height: 1.1;
  letter-spacing: 1px;
  margin: 0 auto;
}

.user-title h2 {
  margin-bottom: 0.5em;
}

/*** Media queriers ***/
@media (min-width: 650px) {
  .user-data {
    margin-top: 0;
  }
}
