/*** Header ***/
.users-header {
  border-radius: 0.5em;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.users-title {
  line-height: 1.6;
  font-size: 1rem;
}

/*** containers ***/

.container-users {
  max-width: 300px;
  margin: 0 auto;
}

.users-section {
  display: flex;
  flex-direction: column;
}

.accordion-container {
  border-top: 1px solid lightgrey;
  padding-top: 1em;
}

/*** Add button ***/
.btn-user {
  background-color: transparent;
  color: #595959;
  font-size: 1rem;
  border: 0;
  opacity: 0.9;
  outline: none;
  cursor: pointer;
  padding: 0;
}

@media (min-width: 650px) {
  .users-header {
    justify-content: space-between;
  }
}
