.container-form {
  margin-top: 0.7em;
  max-width: 97%;
}

.container-form label {
  width: 95%;
}

.other-data {
  margin-top: 0.8em;
}
/*** Form buttons ***/
.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.action-button {
  margin-left: 0.3em;
  transition: all ease-in-out 0.3s;
}

.action-button:active,
.btn-more-data:active {
  background-color: #f2f2f2ea;
}

