.container-form {
  margin-top: 0.7em;
  max-width: 97%;
}

.container-form label {
  width: 95%;
}

.other-data {
  margin-top: 0.8em;
}
/*** Form buttons ***/
.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.action-button {
  margin-left: 0.3em !important;
  opacity: 1;
  transition: all ease-in-out 0.5s;
}

.action-button:active {
  background-color: gray;
}

.btn-more-data:active {
  background-color: #f2f2f2ea;
}

@media (min-width: 650px) {
  .action-button:hover {
    background-color: rgb(192, 191, 191);
  }
}
